*{
    margin: 0%;
    /* padding: 0%; */
    box-sizing: border-box;
}

#enter{
    margin-top: 20px;
}.container ul li{
    width: 100%;
    color: black;
    list-style: none;
}
body {
    font: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 0, 0));
}
input{
    margin: 2px;
    padding: 2px;
}
h1, h5{
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 0, 0));

}